
:root {
  --bg: #1A1A2E;
  --calculator: #22223B;
  --button: #393E5C;
  --operator: #4a14a9;
  --equal: #10B981;
  --text: #F8FAFC;
  --backspace: #9e1b1b;
}

body{
    background-color: rgb(34, 34, 55);
}

.full-container, .top-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 30vw;
    border-radius: 12px;
    margin-top: 100px;
    border: 2px solid #2a2828;
    background-color: var(--calculator);
    box-shadow: 2px 3px 4px rgb(12, 11, 12);
}
.showcontent{
    border: 2px solid #444444;
    height: 60px;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 12px;
    background-color: rgb(203, 202, 202);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 10px;
    font-size: 2rem;
}
.top-area{
    border-bottom: 2px solid #4b4b4b;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 12px;
    padding: 16px;
    
}
button{
    padding: 12px;
    font-size: 22px;
    border-radius: 12px;
    width: 90px;
    height: 80px;
    background-color: var(--button);
    color: var(--text);
    box-shadow: 0px 2px 5px black;
}
.op{
    background-color: var(--operator);
}
.eq{
    background-color: var(--equal);
}
.bcksp{
    background-color: var(--backspace);
}
.err{
    background-color: #986f30;
}